.allvideos {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* border: 1px solid red; */
  margin-top: 30px;
}

.allvideos > div {
  width: 380px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.allvideos > div > div {
  font-size: 14px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #dddee6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allvideos h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 500;
}

.allvideos select {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  width: 180px;
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  color: rgb(88, 85, 85);
}

.allvideos select:focus {
  border: 0.5px solid #5442e9;
}

.downdiv {
  margin-top: 60px;
  margin-left: 10px;
  height: 380px;
  width: 300px;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #5442e9;
  border-radius: 5px;
}
.downdiv p:first-child {
  font-size: 50px;
}
