@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.upperbar {
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* border: 1px solid red; */
  margin-top: 20px;
}

.leftside {
  margin-top: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
}

.leftside h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin-top: -5px;
  margin-bottom: -16px;
  font-weight: 500;
}

.leftside p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.managefeeds {
  height: 48px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #5442e9;
  border-radius: 100px;
}
.managefeeds:hover {
  filter: brightness(0.8);
}

.downbar {
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.leftdownbar {
  width: 85%;
  font-size: 35px;
  text-align: center;
  box-sizing: border-box;
  padding: 40px 120px 60px 180px;
  color: gray;
}

.leftdownbar > p {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
}

.rightdownbar > img {
  width: 100px;
  transform: rotate(270deg) scaleX(-1);
}
