.maindiv {
  height: 430px;
  width: 290px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
  background-color: white;
}

.maindiv > div {
  height: 140px;
  padding: 5px 10px;
  outline: 1px solid #dddee6;
}
.maindiv > div > div {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 13px;
  margin: 4px 0;
  font-size: 14px;
  cursor: pointer;
}
.maindiv > div > div > i {
  font-size: 20px;
}

.maindiv > div > div:hover {
  background-color: rgb(245, 239, 239);
}

.maindiv:first-child > div:first-child {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.maindiv:first-child > div:first-child > div:first-child {
  display: flex;
  height: 50%;
  gap: 10px;
}

.maindiv:first-child > div:first-child > div:first-child > div:first-child {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: #dddee6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.namediv {
  margin-top: 40px;
  margin-left: 15px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #3c3d3f;
}

.namediv > p {
  margin-top: -20px;
}
