.savedtempup {
  height: 60px;
  width: 100%;
  margin-top: 30px;
  padding: 0 15px;
}

.savedtempup h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin-top: -5px;
  margin-bottom: -10px;
  font-weight: 500;
}

.savedtempup p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.savedtempdown {
  margin-top: 10px;
  margin-left: 15px;
  height: 540px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
}

.saveddiv1 {
  width: 330px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.saveddiv1 > div {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  outline: 1px solid #dddee6;
}
.saveddiv2 {
  box-sizing: border-box;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 40px;
  text-align: center;
}

.saveddiv2 img {
  height: 100px;
}
.saveddiv2 img:last-child {
  margin-left: -250px;
}

.saveddiv2 h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.saveddiv2 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: gray;
  margin-top: 1px;
}

.saveddiv2 a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: rgb(64, 64, 218);
  margin-bottom: 18px;
  text-decoration: none;
}
