* body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Ubuntu, sans-serif;
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: rgba(26, 26, 26, 0.9);
    color: #1a1a1a80;
    -webkit-font-smoothing: antialiased;
  } 

.main_bx{
    display: flex;
    justify-content: center;
    /* border:2px solid black; */
    /* width:90%; */
    gap:5%;
    margin-top: 40px;

}

.leftMain_Bx{
    margin-top: 03px;
    box-sizing: border-box;
    height:449px;
    width:380px;
    /* border:2px solid black; */
    /* margin-left:15%; */
}
.pic{
    width:105.65px;
    height:27.99px;
    margin-bottom: 10px;
}
.clr{
    color: rgba(26,26,26,.9);
    font-size: 36px;
    margin-top:-20px;
}
.topStyle{
    font-weight: 600;
}
.span1{
    display: inline-block;
    color:#1A1A1A80;
    font-size: 14px;
    /* box-sizing: border-box; */
    width:50px;
    height:45px;
    /* border:2px solid black; */
}

.opt{
    height:41.6px;
    width:372px;
    margin-bottom: 30px;
}

.opt1{
    display:flex;
    height:20.8px;
    width:372px;
    color:#1A1A1A80;
    justify-content: space-between;
    font-size: 14px;
}
.span2{
    
    color: rgba(26,26,26,.9);
    font-size: 14px;
    font-weight: 500;
    /* margin-left:150px; */
}


.Pstyles{
    
    border:1px solid black;
    border-style: none;
    width:5px;
    background-color: #f9f9f9;
    
}


.rightMain_Bx{
    box-sizing: border-box;
    /* border:2px solid brown; */
    /* margin:auto; */
    height:723.2px;
    width:375px;
    color:#1A1A1AB3;
    
}

.clrBlck{
    color:rgba(26,26,26,.9);
    font-size:13px;
    
}

.emailSet_Bx{
    border-radius: 07px;
    background-color:#f7f7f7;
    height:36px;
    width:350px;
    border:2px solid #1A1A1AB3;
    margin-top:12px;
    padding-left:12px;
    font-size: 14px;
    /* margin-bottom:20px; */ 
    
}
.margin{
    margin-bottom:15px;
}

.emailSet{
    display: flex;
    margin-top:08px;
}

.mainInp_Bx{
    /* border:2px solid salmon; */
    height:112.8px;
    width:396px;
    /* margin-bottom:20px; */
}

.inpFlex_Bx{
    display: flex;
    /* margin-bottom: 20px; */
}
.inpBx_size{
    height:30px;
    width:350px;
    padding-left:12px;
    /* padding:8px 12px; */
    /* border-bottom-left-radius: 6px; */
}
.cardInpTop{
    border-top-left-radius: 06px;
}

.cardInpBtm{
    border-bottom-left-radius: 06px;
}

.inpBx_size1{
    height:30px;
    width:166px;
    padding-left:12px;
    /* padding:8px 12px; */
}
.slctStyle{
    width:368px;
    font-size: 16px;
    border-top-left-radius: 06px;
}
.uDropDwn{
    text-decoration: underline;
    cursor: pointer;
}

.btn{
    height:40px;
    width:368px;
    background-color: rgb(88,70,246);
    border-radius: 8px;
    color:#ffffff
}
.btnC{
    text-align: center;
    margin: auto;
    padding-top:10px;
    /* border:2px solid black; */
    width:80px;
}