body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Ubuntu,sans-serif;
    /* background-color: blue; */

        margin: 0;
        padding: 0;
        font-size: 16px;
        /* color: rgba(26,26,26,.9); */
        color:#1A1A1A80;
        -webkit-font-smoothing: antialiased;
}

.main_bx{
    display: flex;
    gap:15%;
    margin-top: 50px;

}

.leftMain_Bx{
    box-sizing: border-box;
    height:449px;
    width:380px;
    /* border:2px solid black; */
    margin-left:15%;
}
.pic{
    width:105.65px;
    height:27.99px;
    margin-bottom: 10px;
}
.clr{
    color: rgba(26,26,26,.9);
    font-size: 36px;
}
.span1{
    color:#1A1A1A80;
}

.opt{
    height:41.6px;
    width:372px;
}
.opt1{
    display:flex;
    height:20.8px;
    width:372px;
    color:#1A1A1A80;
    justify-content: space-between;
}
.span2{
    
    color: rgba(26,26,26,.9);
    font-size: 20px;
    /* margin-left:150px; */
}

.rightMain_Bx{
    box-sizing: border-box;
    /* border:2px solid brown; */
    height:723.2px;
    width:380px;
    color:#1A1A1AB3;
    
}

.clrBlck{
    color:rgba(26,26,26,.9);
    font-size:13px;
    
}

.emailSet_Bx{
    border-radius: 07px;
    background-color:#f7f7f7;
    height:42.2px;
    width:366px;
    border:2px solid #1A1A1AB3;
    margin-top:12px;
    padding-left:12px;
    font-size: 14px;
    /* margin-bottom:20px; */
}
.margin{
    margin-bottom:20px;
}

.emailSet{
    display: flex;
    margin-top:08px;
}

.mainInp_Bx{
    /* border:2px solid salmon; */
    height:112.8px;
    width:396px;
    /* margin-bottom:20px; */
}

.inpFlex_Bx{
    display: flex;
    /* margin-bottom: 20px; */
}
.inpBx_size{
    height:36px;
    width:362px;
    padding-left:12px;
    /* padding:8px 12px; */
    /* border-bottom-left-radius: 6px; */
}
.cardInpTop{
    border-top-left-radius: 06px;
}

.cardInpBtm{
    border-bottom-left-radius: 06px;
}

.inpBx_size1{
    height:36px;
    width:172px;
    padding-left:12px;
    /* padding:8px 12px; */
}
.slctStyle{
    width:380px;
    font-size: 16px;
    border-top-left-radius: 06px;
}
.uDropDwn{
    text-decoration: underline;
    cursor: pointer;
}

.btn{
    height:44px;
    width:380px;
    background-color: rgb(88,70,246);
    border-radius: 8px;
    color:#f7f7f7
}
.btnC{
    text-align: center;
    margin: auto;
    padding-top:10px;
    /* border:2px solid black; */
    width:80px;
}