.brandskitup {
  height: 60px;
  width: 100%;
  margin-top: 30px;
  padding: 0 30px;
}

.brandskitup h3 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  margin-top: -5px;
  margin-bottom: -10px;
  font-weight: 500;
}

.brandskitup p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: gray;
}

.brandskitdown {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brandskitdown > div {
  margin-top: 20px;
  text-align: center;
}
.brandskitdown > div > h3 {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
}

.brandskitdown > div > div {
  height: 45px;
  width: 120px;
  margin: auto;
  color: white;
  background-color: #5442e9;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
